*{
  margin: 0;
  font-family: verdana,tahoma;
  font-weight: bolder;
  text-align:center;
}
html{
  background-color: #00ACF4;
  position:absolute;
}
img{
  padding: 0px;
  position:absolute;
  left:0;
  top:0;
  opacity: 1;
}

.border{
  border-radius: 11px;
  border-width: 5px;
  border-color: #000032;
  border-style:solid;
}
.outline{
  border-style:solid;
  border-color: #A3A3A8;
  border-radius: 5px;
  border-width: 5px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: #040E58;
}
.points{
  padding: 0px 0px;
  color: white;
  font-size: 92px;
  -webkit-text-stroke-width: 2.5px;
  width: 195px;
  line-height: 80px;
  height: 83px;
  letter-spacing: -5px;
  position: absolute;
  top: 95px;
}
.points-blue{
  background-color:#009DED;
  -webkit-text-stroke-color:#00537F;
  left:724px
}
.points-red{
  background-color:#FF2E31;
  -webkit-text-stroke-color:#811E20;
  left: 990px
}
#time{
  background-color: black;
  position: absolute;
  top: 99px;
  left:945px;
  width:20px;
  height: 302px;
}
#time div{
  background-color: white;
}
.field{
  color: white;
  -webkit-text-stroke: black 1px;
  text-shadow: 0 0 5px black;
  font-size: 48px;
  letter-spacing: -2.5px;
  line-height: 55px;
  border-width: 5px;
  width: 397px;
  background-color: #001F63;
  border-radius: 8px;
}
.field:not(.final):hover{
  cursor: pointer;
}
.columns{
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 222px;
  height: 890px;
  width: 1476px;
  border-width: 0;
  border-radius: 0;
}
.columns div{
  position: absolute;
  height: 400px;
  width:732px;
  border-width: 0;
}
.A{
  top: 0px;
  left: 0px;
}
.B{
  top: 0px;
  right: 0px;
}
.V{
  bottom: 0px;
  left: 0px;
}
.G{
  bottom: 0px;
  right: 0px;
}
.K{
  position: absolute;
  top: 411px;
  left: 398px;
  height: 58px;
  width: 669px;
}
p{
  position: absolute;
}
.red *{
  background-color: #D50316;
}
.blue *{
  background-color: #D50316;
}
.players{
  position: absolute;
  width:1920px;
}
.player {
  position: absolute;
  border-radius: 45px;
  width:564px;
  height:478px;
  top:297px;
}
.player-blue{
  left:75px;
}
.player-red{
  left:1270px
}